
/* --------- NAVBAR  ---------*/

.navbar {
    margin-bottom: 0;
    width: 100%;
    background-color: rgba(242, 38, 19, 1) !important;
    border: 0;
}



nav .navbar-nav li a {
    color:white!Important;
    font-family: "Cabin", sans-serif;
    font-weight: 100;
    font-size: 1.1rem;
    letter-spacing: 3px;
    line-height: 30px;
    font-weight: bold;
    text-transform: capitalize;
}



/* --------- HERO/BACKGROUND IMAGE  ---------*/

/* --------- Credit: Hero Image styling inspired by Code Institute mini whiskey project ---------*/

.view.home {
    height: 100vh;
    background: no-repeat bottom right fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 0;
}


.view h1 {
    padding-top: 0px;
    padding-bottom: 400px;
    color: white;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    text-transform: uppercase;
}

.view h5 {
    color: blue;
    text-align: center;
}

.view h3 {
    color: blue;
    text-align: center;
}

.view p {
    color: white;
    text-align: left;
}

/* --------- CLUB PAGE  ---------*/

/* --------- Credit: https://www.youtube.com/watch?v=9YffrCViTVk -Embeding youtube video   ---------*/

.club {
    background-color:white;
}

.club h5 {
    color:blue;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-size: 2.8rem;
    text-decoration: underline;
}

.club p {
    color:red;
    text-align: center;
}

.club a{
    color:red;
}

.iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 80px;
    /* 16:9 */
    height: 0;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position:absolute;
}



/* --------- CONTACT PAGE ---------*/

.contact {
    background-color:white;
    text-align: center;
}

.container h2{
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.container p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:black;
}

.btn {
    color:blue;
    text-transform: uppercase;
}

/* --------- FIXTURES PAGE  ---------*/

.fixtures {
    background-color: white;
    text-align: center;
}

.fixtures h2 {
    text-align: center;
    color: blue;
    text-transform: uppercase;
}


.fixtures thead {
    color: red;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

.fixtures tbody {
    color: black;
}

.fixtures tbody th {
    color: blue;
    font-weight: bold;
}

/* --------- FOOTER  ---------*/


footer {
    background-color: rgba(242, 38, 19, 1) !important;
    color:white;
    min-height: 120px;
    margin: 0;
    text-align: center;
    position: relative;
}

.uppercase-general-sub,
h5 {
    font-size: 2.5rem;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 18px;
    line-height: 7px;
    text-align: center;
    color:red;
    background:blue;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background:white;
}