body {
    font-family: 'Roboto', sans-serif;
    color:#fafafa;
    text-align: left;
}

/* --------------------------------navbar */
.navbar {
margin-bottom: 0;
    width: 100%;
    background-color: rgba(242, 38, 19, 1)!important;
    border: 0;
}

.nav-link{
    font-weight: bold;
    color: blue;
}



/* --------------------------------hero image */

.view.home {
    height: 100vh;
    background: no-repeat bottom right fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 0;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.view h2 {
    padding-top: 75px;
    padding-bottom: 0px;
    color: white;
    text-align: center;
}

.view h5 {
    color: blue;
    text-align: left;
}

.view h3{
    color: blue;
    text-align: center;
}

.view p {
    color: white;
    text-align: left;
}





/* --------------------------------Footer */


footer {
    background-color:  rgba(242, 38, 19, 1)!important;
    color:  blue;
    min-height: 120px;
    margin: 0;
    text-align: center;
}

.uppercase-general-sub,h5{
    font-size: 2.5rem;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #e84610;
}

#footer-details {
    padding: 20px;
}

/* --------------------------------Fixtures */


/* --------------------------------Contact */

#contact {
    background-color: blue !important;
    text-align: center;
}

.vertical-center{
   align-items: center; 
}